.DS_Store
node_modules/
dist/
.firebase/
coverage/
firebase-debug.log
functions/

# ignore all subs except public/static/
!public/
public/*
!public/static/

!functions/
functions/*
!functions/.gitignore
!functions/package.json
!functions/package-lock.json